@import 'var';

.modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0; 
    right: 0;
    z-index: 12;
    background-color: #0000008e;

}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: fixed;
    height: 380px;
    z-index: 33;
    background-color: #fff;
    width: 350px;
    border-radius: 5px;
    animation-name: modal-anim;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); 

    .main-review {
        width: 70%;

        >div:first-child {
            display: flex;
            align-items: center;
            gap: 10px;

            h4 {

                font-size: 20px;
                margin: 20px 0px;
            }
        }


    }

    h3 {
        text-align: center;
        width: 60%;
        margin: 5px 0;
        border: none;
        padding: 5px 0;
        border-bottom: 2px solid #ff7800;
    }

    input{
        margin-top: 10px;
        margin-left:0px;
        width: 258px;
        height: 25px; 
        outline: none; 
    }

    textarea {
        outline: none;
        padding: 10px;
        border: none;
        border: 1px solid #b9b9b9;
        height: 150px;
        font-size: 15px;
        font-weight: 400;
        width: 100%;
        margin-top:15px;

        &::placeholder {
            color: black;
        }

    }

    .modal-btn {
        display: flex;
        padding: 0px 0;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: 18px;

        button {
            padding: 10px 20px;
            font-size: 13px;
        }

    }

    @keyframes modal-anim {
        0% {

            opacity: 0;
        }

        100% {
            opacity: 1;

        }

    }
}

.black-btn{
    border-radius: 5px;
    background-color: black;
    color:white;
    border:none;
    margin-left:18px;
    cursor:pointer;
}

.org-btn{
    border-radius: 5px;
    background-color: blue;
    color:white;
    border:none;
    margin-left:20px;
    cursor:pointer;
}
 

@media screen and (max-width:600px) {
    .modal {
        width: 300px;

        textarea {

            font-size: 14px;
        }
    }

}