.tripList{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px; 
  }
  
  .tripListItem{
    flex:1;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer; 
  }
  
  .tripListImg{
    width: 100%;
    height: 150px;
    object-fit: cover; 
    border-radius: 10px;
  }
  
  .tripListTitles>h1{
    font-size: 18px;
    color: #000;
    text-transform: capitalize;
  }
  
  .tripListTitles>h2{
    font-size: 14px;
    font-weight: 300;
    color: #000;
  }

  
  