.loginContainer{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    margin-left:10%;
}

.signInText{
    font-weight: bold;
    font-size: 19px;
    margin-right: 14%;
}

.loginEmailPhone{
    margin-top: 3%;
    margin-right: 3%;
}

.loginEmailText{
    font-size: 15px;
    font-weight: 600;
    margin-left: 3px;
}

.loginPassword{
    margin-top: 5%;
    margin-left: -8px;
}

.loginPasswordText{
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;
}

.loginButton{
    margin-top: 5%;
    border: none;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    width: 88%;
}

.loginHr{
    margin-top: 3%;
    margin-right: 4%;
    font-size: 14px;
}

.continueWith{
    margin-top: 2%;
    width: 27%;
    margin-right: 5%; 
}

.signUpWithEmail{
    margin-top: 7%;
    border: none;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 14px 0px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    width: 75%;
    margin-left: 13%;
    cursor: pointer;
    text-decoration: none;
}

.loginTerms{
    margin-top: 1%;
    font-size: 14px;
    margin-right: 4%;
}

.loginRights{
    margin-top: 2%;
    margin-right: 3%;
}

.rightsReserved{
    font-size: 14px;
    margin-left: 22%;
}

.copyright{
    margin-top: 5px;
    font-size: 14px;
}