.preferenceTableContainer{
    width:60%; 
}

.preferenceDetailsMainContainer{
    display: flex;
    width: 100%;
    padding: 20px;
}

.preferenceDetailsText{
    width: 85%;
}

.boldText{
    font-size: 29px;
    font-weight: bold;
}

.smallText{
    font-size: 16px;
    margin-top: 10px;
}
 
